In [ ]:
class Student:

    def __init__ (self,name=None,grade=None):
        self.name = name
        self.grade = grade


    def __str__(self):
        return f"Student name: {self.name} Grade: {self.grade}"


    def is_passed(self):
        if self.grade >= 10:
            return True
        else:
            return False

In [15]:
class employee:
    count = 0

    def __init__(self, empid, name=None, income=None):
        self.empid = empid
        self.name = name
        self.income = income
        employee.count += 1

    def __str__(self):
        return f"EmpId: {self.empid} Name: {self.name} Income: {self.income}"

    @classmethod
    def get_count(cls):
        return cls.count

# Test it
emp = employee(12, 'asghar', 3000)
emp1 = employee(13, 'hasan', 4000)
emp2 = employee(14, 'hossein', 5000)

print(emp)
print('Emp count:', employee.get_count())

EmpId: 12 Name: asghar Income: 3000
Emp count: 3

In [7]:
test = [[1,2,3],[4,5,6]]
for row in test:
    for item in row:
        if (item%2) == 0:
            print(item)

print([item for row in test for item in row if (item%2) == 0])

2
4
6
[2, 4, 6]

In [12]:
class student:
    count = 0
    def __init__(self,sname,snum,syear):
        self.sname = sname
        self.snum = snum
        self.syear = syear
        self.shours = 0
        student.count += 1

    def __str__(self):
        return "id: %i Student: %s born: %i" % (self.snum,self.sname,self.syear)

    def sethours(self,shours):
        self.shours = shours
        return (self.shours)

stu = student('abas',12,2004)
stu1 = student('ali',123,2002)
print(stu)
print(stu1)

id: 12 Student: abas born: 2004
id: 123 Student: ali born: 2002

In [ ]:
def search(self,data):
    current = self.tail
    while (current.next != None) or (current.next == self.head):
        if current.data == data:
            return True
        current = current.next

    return False

In [ ]:
def reverseSLL(self):
    prev = None
    current = self.tail
    while current:
        next_node = current.next
        current.next = prev
        prev = current
        current = next_node
    return prev

In [ ]:
def reverseDLL (self):
    prev = None
    current = self.tail
    while current:
        prev = current.prev
        current.prev = current.next
        current.next = prev
        current = current.prev
    if prev:
        self.head = prev.prev
    return self.head

In [56]:
def detect_month(s):
    matches = {'far':1, 'ordi':2,'khordad':3}
    for month, number in matches.items():
        s = s.replace(month, str(number))
    return s
detect_month('inja dar far man ordi')

'inja dar 1 man 2'